*.o
.vscode
*.exp
*.lib
*.nsys-rep
*.sh
*.cmd
*.cuda
*.mtl
*.log
*.old
*.exe
*.pdb
*.obj

src/blender/*
!src/blender/
src/blender/*.*

!src/blender/source/
src/blender/source/*

!src/blender/source/blender/
src/blender/source/blender/*

!src/blender/source/blender/editors
src/blender/source/blender/editors/*

!src/blender/source/blender/editors/space_outliner
src/blender/source/blender/editors/space_outliner/*
!src/blender/source/blender/editors/space_outliner/outliner_draw.c

!src/blender/source/blender/modifiers/
src/blender/source/blender/modifiers/*
!src/blender/source/blender/modifiers/CMakeLists.txt
!src/blender/source/blender/modifiers/MOD_modifiertypes.h

!src/blender/source/blender/makesdna/
src/blender/source/blender/makesdna/*
!src/blender/source/blender/makesdna/DNA_modifier_types.h

!src/blender/source/blender/makesrna/
src/blender/source/blender/makesrna/*

!src/blender/source/blender/makesrna/intern
src/blender/source/blender/makesrna/intern/*
!src/blender/source/blender/makesrna/intern/rna_modifier.c

src/blender/source/blender/modifiers/intern/*
!src/blender/source/blender/modifiers/intern
!src/blender/source/blender/modifiers/intern/MOD_gpusubsurf.c
!src/blender/source/blender/modifiers/intern/MOD_util.c

src/blender/release/*
!src/blender/release/

src/blender/release/scripts/*
!src/blender/release/scripts/

src/blender/release/scripts/startup/*
!src/blender/release/scripts/startup/

src/blender/release/scripts/startup/bl_ui/*
!src/blender/release/scripts/startup/bl_ui
!src/blender/release/scripts/startup/bl_ui/properties_data_modifier.py

builds
lib
build_windows_x64_vc15_release